*{
    box-sizing: border-box;
}
body{
    font-family: Tahoma, Arial;
}
.container{
    margin: 20px auto;
    width: 1000px;
}
.row{
    display: flex;
}
hr{
    border: 1px solid #eee;
}
.game-info{
    display: flex;
}
.game-info .game-name{
    flex: 1;
}
.game-info .categoery{
    flex: 1;
    text-align: right;
}
.game-info .categoery span{
    text-transform: capitalize;
    color: #E91E63;
    font-weight: bold;
}
.Hangman-draw{
    flex: 1;
    background-color: #F8F8F8;
    padding: 20px;
    height: 324px;
}
.Hangman-draw .the-draw{
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: 20px auto;
    left: -60px;
    display: none;
}
.Hangman-draw .the-stands{
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    display: none;
}
/* .Hangman-draw .the-stands::before{
    content: "";
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
} */
 .Hangman-draw .the-hang{
    display: none;
 }
.Hangman-draw .the-hang::before{
    content: "";
    position: absolute;
    height: 4px;
    background-color: #222;
    width: 100px;
    left: 30px;
    top: 15px;
}
.Hangman-draw .the-hang::after{
    content: "";
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 30px;
    left: 130px;
    top: 15px;
}
.Hangman-draw .the-rope{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 95px;
    top: 45px;
    border: 4px dashed #222;
    display: none;
}
.Hangman-draw .the-man .head{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #222;
    position: absolute;
    left: 105px;
    top: 55px;
    display: none;
}
.Hangman-draw .the-man .body{
    width: 4px;
    height: 110px;
    background-color: #222;
    position: absolute;
    left: 130px;
    top: 102px; 
    display: none; 
}
.Hangman-draw .the-man .hands{
    display: none;
}
.Hangman-draw .the-man .hands::before{
    left: 85px;   
    transform: rotate(30deg); 
}
.Hangman-draw .the-man .hands::after{
    left: 130px;  
    transform: rotate(-30deg); 
}
.Hangman-draw .the-man .hands::before,
.Hangman-draw .the-man .hands::after{
    content: "";
    width: 50px;
    height: 4px;
    background-color: #222;
    position: absolute;
    top: 140px;
}
.Hangman-draw .the-man .legs::before{
    left: 85px;   
    transform: rotate(-30deg); 
}
.Hangman-draw .the-man .legs{
    display: none;
}
.Hangman-draw .the-man .legs::after{
    left: 130px;  
    transform: rotate(30deg); 
}
.Hangman-draw .the-man .legs::before,
.Hangman-draw .the-man .legs::after{
    content: "";
    width: 50px;
    height: 4px;
    background-color: #222;
    position: absolute;
    top: 220px;
}
.Hangman-draw.wrong-1 .the-draw{
    display: block;
}
.Hangman-draw.wrong-2 .the-stands{
    display: block;
}
.Hangman-draw.wrong-3 .the-hang{
    display: block;
}
.Hangman-draw.wrong-4 .the-rope{
    display: block;
}
.Hangman-draw.wrong-5 .head{
    display: block;
}
.Hangman-draw.wrong-6 .body{
    display: block;
}
.Hangman-draw.wrong-7 .hands{
    display: block;
}
.Hangman-draw.wrong-8 .legs{
    display: block;
}
.letters{
    flex: 1;
    padding: 15px;
    text-align: center;
}
.finished{
    pointer-events: none;
}
.letters .letter-box{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #009688;
    color: #FFF;
    font-size: 24px;
    margin-right: 10px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
.letters .letter-box.clicked {
    background-color: #222;
    opacity: .2;
    pointer-events: none;
}
.letters-guess{
    margin: 10px auto;
    background-color: #F8F8F8;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;
}
.letters-guess span{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FDFDFD;
    border-bottom: 3px solid #222;
    transition: 3s;
}
.letters-guess span.with-space {
    background: none;
    border-bottom: none;
    position: relative;
}
.letters-guess span.with-space::before{
    content: '';
    width: 20px;
    height: 4px;
    background-color: #222;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.popup{
    width: 600px;
    height: 198px;
    background-color: rgb(139, 8, 8);
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
.popup-win{
    width: 600px;
    height: 198px;
    background-color: rgb(14, 109, 6);
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}